[Unit]
Description = MJPEG Streamer server
Wants = network-online.target
After = network.target network-online.target

[Service]
ExecStart = /usr/local/bin/mjpg-streamer
RemainAfterExit = no
Restart = on-failure
RestartSec = 5s

[Install]
WantedBy = default.target

