[Unit]
Description = MJPEG Streamer server
Wants = network-online.target
After = network.target network-online.target

[Service]
#ExecStart = mjpg_streamer -i /usr/local/lib/mjpg-streamer/input_uvc.so -o "/usr/local/lib/mjpg-streamer/output_http.so -p 8080"
#ExecStart = mjpg_streamer -i '/usr/local/lib/mjpg-streamer/input_uvc.so -r 1280x720 -f 5 -q 85' -o '/usr/local/lib/mjpg-streamer/output_http.so -p 8080'
ExecStart = mjpg_streamer -i '/usr/local/lib/mjpg-streamer/input_uvc.so -d /dev/video1 -r 1024x576 -f 5 -q 75' -o '/usr/local/lib/mjpg-streamer/output_http.so -p 8080'
#ExecStart = mjpg_streamer -i '/usr/local/lib/mjpg-streamer/input_uvc.so -r 960x720 -f 5 -q 85' -o '/usr/local/lib/mjpg-streamer/output_http.so -p 8080'
RemainAfterExit = no
Restart = on-failure
RestartSec = 5s

[Install]
WantedBy = default.target

